[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-deed.git"]
	path = lib/ds-deed.git
	url = https://github.com/brianmcmichael/ds-deed.git
[submodule "lib/wand"]
	path = lib/wand
	url = https://github.com/nmushegian/wand
